*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(140, 236, 236); */
    /* background-image: url("../images/background.jpeg"); */
    
}
header{
     background-color: rgb(140, 236, 236);
     

}
body{
    background-color: rgb(158, 3, 3);
}
.red{
    color: rgb(158, 3, 3);
}




li, a, button{
    font-weight: 500;
    font-size: 15px;
    color: #022a38;
    text-decoration: none;

}
header{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px  10% ;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3s ease 0s;

}
.nav_links li a:hover{
    color: rgb(223, 238, 14);
}
.btn{
    padding: 9px 25px;
     background-color: rgb(1, 11, 39);
    color: rgb(219, 212, 212);
     border: none;
     border-radius: 35px;
     cursor: pointer;
     transition:all 0.3s ease 0s ;
}
.btn:hover{
    background-color: rgb(209, 179, 7);
    color: rgb(4, 2, 36);
}

.image{
    background-image: url("../images/pexels-namo-deet-1098769.jpg");
    height: 100vh;
    background-size: cover;
}


.grey{
    color: rgb(207, 203, 203);
}

.glass{
    width:auto;
    /* margin-left: 5px;
    margin-right: 5px; */
    height: 400px;
    background-color: rgba(244, 234, 245, 0.1);
    padding: 50px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 3px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
    line-height: 1.5;
    align-items: center;

}

main{
    width: 100%;
    margin: 2px;
    /* border: 2px solid aqua; */
    display: grid;
    justify-content: space-around;

    color:white;
    grid-template-rows: 40px 600px 400px 400px 400px 400px 400px;
    /* grid-template-columns:repeat(5, 1fr) 150px; */
    grid-template-columns:repeat(5, 1fr);

    grid-gap: 10px;
    flex-wrap: wrap;

    


}
.div1{
    background-color: rgb(1, 4, 32);
    color:aqua;
    padding: 5px;
    font-weight: bold;

}
.div2{
    background-color: rgb(1, 4, 32);
    color:aqua;
    padding: 5px;
    font-weight: bold;

}
.div3{
    background-color: rgb(1, 4, 32);
    color:aqua;
    padding: 5px;
    font-weight: bold;



}
.div4{
    background-color: rgb(1, 4, 32);
    color:aqua;
    padding: 5px;
    font-weight: bold;


}
.div5{
    background-color: rgb(1, 4, 32);
    color:aqua;
    padding: 5px;
    font-weight: bold;



}
.div6{
    background-color: black;
    grid-row: 1/3;
    grid-column: 6/7;
}
.history{
    background-color: #f8e2c0;
    grid-column: 1/6;
    padding: 20px;
    
}
.div8{
    background-color: #f8e2c0;
    /* grid-column: 1/-1; */
    grid-row: 3/4;
    grid-column:1/4 ;
    padding: 10px;
}
.div9{
    background-color: #fff;
    grid-row: 3/4;
    grid-column:4/7 ;
    padding: 10px;

}
.div10{
    background-color:#fff;
    grid-row: 4/5;
    grid-column: 1/3;
    padding: 10px;

}
.div11{
    background-color: #f8e2c0;;
    grid-row:4/5 ;
    grid-column:3/7 ;
    padding: 10px;

}


 
.div12{
    background-color: #fff;
    
 }

.div12a{
    background-color: #fff;
    /* grid-area: services1; */

}

.div12b{
    background-color: #fff;
    /* grid-area: services2; */

}

.div12c{
    background-color: #fff;
    /* grid-area: services3; */

}

.div12d{
    background-color: #fff;
    /* grid-area: services4; */

    /* grid-row: 5/6;
    grid-column: 5/7; */
}

/* .div12e{
    background-color: red;
} */




.div13{
    background-color: cyan;
    grid-column: 1/-1;
    /* grid-area: carosel; */
}
.footer{
    grid-column: 1/-1;
    background-color: rgb(140, 236, 236);
    padding: 70px 0px;
    background-image: url("../images/background.jpeg");
    width: 100vw;
    position: relative;
    color: rgb(97, 96, 96);
    

}
.footer h2{
    color: rgb(97, 96, 96);;
}
.footer p{
    color:rgb(6, 165, 131);; 
}
.social{
    padding: 0px;
}
.h4{
    padding: 15px 0px;

}



.container-lga{
    max-width: 1270px;
    height: 350px;
    margin: auto;
    background-color: black;
}
.social li{
    display: inline-block;
    background-color: rgb(14, 240, 202);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
}
.social li a i{
    padding-top:4px ;
    color: rgb(168, 8, 8);
    transition: .3s;
    font-size: 20px;
}
.social li a i:hover{
    color: rgb(233, 229, 8);
    text-decoration: none;
}
 .footer .links ul {
    list-style-type:none;
    font-size: 10px;


}
.footer .links li a {
    color: rgb(6, 165, 131);
    transition: color .2s;
    font-size: 15px;
    
}
.footer .links li a:hover{
    text-decoration: none;
    color: rgb(4, 4, 133);
}
.footer .location i {
    font-size: 18px;
    color: rgb(6, 165, 131);

}
.footer .copyright p{
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
    border-top: 1px solid rgb(10, 194, 163);
    border-bottom: 1px solid rgb(10, 194, 163);

}

.morphism{
    width:auto;
    height: 200px;
    background-color: rgba(218, 244, 248, 0.1);
    padding: 50px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 3px solid transparent;
    background-clip: padding-box;
    box-shadow: 15px 15px 15px rgba(15, 15, 15, 0.3);
    line-height: 1.5;
    align-items: center;
    color: rgb(224, 224, 220);

 }
 
/* ul{
    list-style: none;

} */

